OfdbWebGatewayConnector/OfdbGWModels/ModelSources/OfdbWgEAN.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ofdbgw">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="resultat">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="eintrag">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="filmid" />
                    <xs:element name="fassungid" />
                    <xs:element name="titel" />
                    <xs:element name="titel_orig" />
                    <xs:element name="jahr" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>