OfdbWebGatewayConnector/OfdbGWModels/ModelSources/OfdbWgSearch.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ofdbgw">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="resultat">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="eintrag">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="id" type="xs:string" />
                    <xs:element name="titel" type="xs:string" />
                    <xs:element name="titel_orig" type="xs:string" />
                    <xs:element name="bild" type="xs:string" />
                    <xs:element name="jahr" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>