OfdbWebGatewayConnector/OfdbGWModels/ModelSources/OfdbWgFassung.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ofdbgw">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="resultat">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="titel" type="xs:string" />
              <xs:element name="erscheinungart" type="xs:string" />
              <xs:element name="label" type="xs:string" />
              <xs:element name="veroeffentlicht" type="xs:string" />
              <xs:element name="eanupc" type="xs:string" />
              <xs:element name="bilder">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="bild" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="freigabe" type="xs:string" />
              <xs:element name="indiziert" type="xs:string" />
              <xs:element name="laufzeit" type="xs:string" />
              <xs:element name="regionalcode" type="xs:string" />
              <xs:element name="dvdformat" type="xs:string" />
              <xs:element name="tvnorm" type="xs:string" />
              <xs:element name="verpackung" type="xs:string" />
              <xs:element name="bildformat" type="xs:string" />
              <xs:element name="tonformate">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="format" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="untertitel">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="sprache" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="extras" type="xs:string" />
              <xs:element name="bemerkungen" type="xs:string" />
              <xs:element name="autor" type="xs:string" />
              <xs:element name="eintragsdatum" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>