OfdbWebGatewayConnector/OfdbGWModels/ModelSources/OfdbWgStatus.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ofdbgw">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="status">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="rcode" />
              <xs:element name="rcodedesc" />
              <xs:element name="modul" />
              <xs:element name="ofdbgwversion" />
              <xs:element name="ofdbgwdate" />
              <xs:element name="verarbeitungszeit" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>